<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Noticias para ti, David
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarOcultarFiltros()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content color="dark"> -->
<ion-content>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div class="filtrado-noticias animated slideInDown fast" *ngIf="mostrarFiltradoNoticias">
    <ion-searchbar placeholder="Busca noticias" 
                   (ionChange)="filtraNoticias($event)" 
                   [debounce]="250"
                   animated 
                   showCancelButton="true" 
                   spellcheck
                   cancelButtonText="Cancelar"
                   mode="ios"
                   ></ion-searchbar>
    <ion-item class="filtro-fecha-item">
      <ion-label>Publicación desde</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" [value]="startDateValue" (ionChange)="cambiaFiltroFechaStart($event)"></ion-datetime>
    </ion-item>
    <ion-item class="filtro-fecha-item">
      <ion-label>Publicación hasta</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" [value]="endDateValue" (ionChange)="cambiaFiltroFechaEnd($event)"></ion-datetime>
    </ion-item>
  </div>

  <app-noticias [noticias]="noticias"></app-noticias>

  <ion-infinite-scroll [disabled]="!enableInfiniteScroll" threshold="150px" (ionInfinite)="cargarMasNoticias($event)">
    <ion-infinite-scroll-content color="light" loadingSpinner="crescent" loadingText="Cargando noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-text padding color="light" class="ion-text-center" *ngIf="!enableInfiniteScroll">
    <p>No hay más noticias que cargar</p>
  </ion-text>
    
</ion-content>
